{% extends 'base.html.twig' %}

{% block title %}New Formation{% endblock %}

{% block body %}
    <br><br><br><br>
    <h1>Create new Formation</h1>

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('formation_index') }}">back to list</a>
{% endblock %}
