<form method="post" action="{{ path('formation_showslide', {'id': slide.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('showslide' ~ slide.id) }}">
    <br>
    <div align="center">
        <h1 style="color: #8A2C02; font-weight: bold; " >{{ slide.videoSlide}}</h1>
        <video width="800" height="500" controls>
            <source src="{{ asset('img/formcontenu/' ~ slide.videoSlide) }} ">
        </video>

    </div>

</form>
