<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1 style="margin-top: 150px"></h1>
    <div class="card img-fluid" style="margin-left: 50px;margin-right: 50px;margin-bottom: 100px">
        <img class="card-img-top" src="{{ asset('E:/3A18/Semestre 2/Technologies web 2.0/PIDEV/E_Senpai_Symfony_Sprint/public/img/certificat.jpg') }}" style="width:100%">
        <div class="card-img-overlay">
            <h4 class="card-title"></h4>
            <p class="card-text"></p>
        </div>
    </div>
</body>
</html>