{% extends 'base.html.twig' %}

{% block title %}New Quiz{% endblock %}

{% block body %}
    <h1 style="margin-top: 150px;">Create new Quiz</h1>

    {{ include('quiz/_form.html.twig') }}

    <a href="{{ path('quiz_index',{'id':app.user.id}) }}">back to list</a>
{% endblock %}
