{% extends 'base.html.twig' %}

{% block title %}New Test{% endblock %}

{% block body %}
    <h1 style="margin-top: 150px"> Ajouter Test</h1>

    {{ include('test/_form.html.twig') }}

    <a href="{{ path('test_index',{'id':app.user.id}) }}">back to list</a>
{% endblock %}
