# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\3A18\Semestre 2\Technologies web 2.0\PIDEV\E_Senpai_Symfony_Sprint\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
